.theme {
    text-align: center;
}

.theme {
    font-size: 35px;
    margin-top: 80px;
}

.article {
    width: 1152px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    .all-pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .pic {
            // padding-bottom: 100px;
            margin-bottom: 100px;
            .p {
                width: 300px;
                height: 42px;
                padding-top: 10px;
            }
            .under {
                height: 100px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                .read {
                    .underber {
                        border-bottom: 2px solid black;
                    }
                }
            }
        }
    }
}

.pic:hover {
    box-shadow: 5px 5px 5px 5px rgb(216, 216, 216);
}