.theme {
    text-align: center;
}

.theme {
    font-size: 35px;
    margin-top: 80px;
}

@include media(sp) {
    .theme {
        font-size: 50px;
    }
}

.article {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    .all-pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .pic {
            // padding-bottom: 100px;
            margin-bottom: 100px;
            .p {
                width: 300px;
                height: 42px;
                padding-top: 10px;
            }
            .underAll {
                margin-right: 20px;
                .under {
                    margin-top: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .read {
                        padding-bottom: 10px;
                        cursor: pointer;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
    @include media(sp) {
        .all-pic {
            justify-content: space-around;
        }
    }
}

.line {
    border-bottom: 2px solid black;
    transition: width 1s ease-out;
    width: 20px;
    margin-bottom: 30px;
}

.read:hover+.line {
    width: 100px;
}

.pic:hover {
    box-shadow: 5px 5px 5px 5px rgb(216, 216, 216);
}

#next {
    height: 40px;
    display: flex;
    justify-content: center;
}

#next a {
    text-decoration: none;
    text-align: center;
    color: white;
    border: 2px solid gray;
    padding: 10px 100px;
    background-color: gray;
}