header {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 95%;
    // margin: 0 auto;
    ul {
        display: flex;
        // margin-right: 20px;
        li {
            margin-right: 30px;
            font-weight: 500;
            font-size: 20px;
        }
        li:last-child {
            margin-right: 0;
        }
    }
}