main {
    margin-top: 50px;
    p {
        margin-top: 30px;
        font-size: 23px;
        margin-left: 80px;
    }
}

.visual-box {
    position: relative;
    width: 80%;
    margin: 0 auto;
    .logo {
        width: 23%;
        position: absolute;
        left: -5%;
        top: -20%;
    }
    .visual-text {
        width: 45%;
        top: 55%;
        left: 61%;
        position: absolute;
    }
}

.mainvisual {
    width: 100%;
}

.mainvisual img {
    width: 100%;
}