// .container {
//     width: 1152px;
//     margin: 0 auto;
// }
main {
    margin-top: 50px;
    .p-pc {
        margin-top: 30px;
        font-size: 23px;
        margin-left: 80px;
    }
    .p-sp {
        display: none;
    }
    .pc {
        display: block;
    }
    .sp {
        display: none;
    }
}

.visual-box {
    position: relative;
    width: 80%;
    margin: 0 auto;
    .logo {
        width: 23%;
        position: absolute;
        left: -5%;
        top: -20%;
        z-index: 1000;
    }
    .visual-text {
        width: 45%;
        top: 55%;
        left: 61%;
        position: absolute;
        z-index: 2000;
    }
    .sp-visual-text {
        display: none;
    }
}

.mainvisual {
    width: 100%;
}

.mainvisual img {
    width: 100%;
}

@include media(sp) {
    main {
        margin-top: 0;
        .pc {
            display: none;
        }
        .sp {
            display: block;
            // height: 200px;
        }
        .p-pc {
            display: none;
        }
        .p-sp {
            display: block;
            font-size: 28px;
            text-align: center;
            line-height: 45px;
            margin-top: 30px;
        }
    }
    .visual-box {
        width: 100%;
    }
    .logo,
    .visual-text {
        display: none;
    }
    .visual-box .sp-visual-text {
        width: 65%;
        display: inline;
        position: absolute;
        left: 5%;
        bottom: 45%;
    }
}